/*
 * Costco Fullfillment API
 *
 * An API for fullfilling orders placed on non-Costco channels by Costco 
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using IO.Swagger.Attributes;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class Costing_ApiController : Controller
    { 
        /// <summary>
        /// Retrieve Linked Fees
        /// </summary>
        
        /// <param name="referenceNumber">A unique entry ID</param>
        /// <param name="itemNumber">The Costco item number to be fulfilled</param>
        /// <param name="quantity">The quantity to be fulfilled</param>
        /// <param name="shippingAddress">The delivery destination</param>
        /// <param name="currency">the currency code for which all monetary values will be assumed</param>
        /// <response code="200">Status 200</response>
        /// <response code="400">Status 400</response>
        /// <response code="500">Status 500</response>
        [HttpGet]
        [Route("/v1.0.0/costing/linkedFees")]
        [ValidateModelState]
        [SwaggerOperation("CostingLinkedFeesGet")]
        [SwaggerResponse(200, typeof(InlineResponse200), "Status 200")]
        [SwaggerResponse(400, typeof(InlineResponse200), "Status 400")]
        [SwaggerResponse(500, typeof(InlineResponse200), "Status 500")]
        public virtual IActionResult CostingLinkedFeesGet([FromQuery]string referenceNumber, [FromQuery]string itemNumber, [FromQuery]decimal? quantity, [FromQuery]string shippingAddress, [FromQuery]string currency)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<InlineResponse200>(exampleJson)
            : default(InlineResponse200);
            return new ObjectResult(example);
        }
    }
}
