{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "Shipments API"
  },
  "host" : "api.costco.com",
  "basePath" : "/shipments/v1",
  "schemes" : [ "https" ],
  "security" : [ {
    "OAuth2" : [ ]
  } ],
  "paths" : {
    "/fulfillment/digitalgoods/orders/{partnerOrderNumber}" : {
      "put" : {
        "tags" : [ "DigitalGoods" ],
        "summary" : "Digital Goods Fulfillment Status Update. (Auth policies: OrderFulfiller)",
        "operationId" : "FulfillDigitalGoods",
        "consumes" : [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces" : [ "text/plain", "application/json", "text/json" ],
        "parameters" : [ {
          "name" : "partnerOrderNumber",
          "in" : "path",
          "description" : "The partner order number.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "lineItems",
          "description" : "The collection of items to process",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/LineItem"
            },
            "uniqueItems" : false
          }
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.TrackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "lineItems", "result" ],
              "properties" : {
                "result" : {
                  "type" : "string",
                  "default" : "ok",
                  "enum" : [ "ok", "okWithException" ]
                },
                "lineItems" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/inline_response_200_lineItems"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/GatewayError"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "OrderFulfiller" ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "OAuth2" : {
      "type" : "oauth2",
      "tokenUrl" : "https://costcofulfillment.azurewebsites.net/token",
      "flow" : "application",
      "scopes" : {
        "OrderFulfiller" : "Can perform operations to fulfill orders captured by Costco"
      }
    }
  },
  "definitions" : {
    "LineItem" : {
      "type" : "object",
      "required" : [ "fulfilledOnTimeStamp", "fulfillmentDescription", "fulfillmentStatus", "itemNumber", "quantity" ],
      "properties" : {
        "itemNumber" : {
          "type" : "string",
          "description" : "The Costco item number",
          "minLength" : 1
        },
        "quantity" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The quantity of units to be fulfilled",
          "minimum" : 1,
          "maximum" : 1000
        },
        "fulfilledOnTimeStamp" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The moment at which the order fulfillment status changed in ISO 8601 format."
        },
        "fulfillmentStatus" : {
          "type" : "string",
          "description" : "An explanation for the fulfillment status change",
          "enum" : [ "delivered", "cancelled" ]
        },
        "fulfillmentDescription" : {
          "type" : "string",
          "description" : "An explanation for the fulfillment status change",
          "minLength" : 1
        }
      },
      "description" : "LineItem for an order"
    },
    "Error" : {
      "type" : "object",
      "required" : [ "trackingId" ],
      "properties" : {
        "errorType" : {
          "type" : "string",
          "readOnly" : true
        },
        "userMessage" : {
          "type" : "string",
          "readOnly" : true
        },
        "developerMessage" : {
          "type" : "string",
          "readOnly" : true
        },
        "errorCode" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "source" : {
          "type" : "string",
          "readOnly" : true
        },
        "trackingId" : {
          "type" : "string"
        }
      }
    },
    "GatewayError" : {
      "type" : "object",
      "properties" : {
        "context" : {
          "$ref" : "#/definitions/GatewayError_context"
        }
      }
    },
    "inline_response_200_lineItems" : {
      "required" : [ "itemNumber", "lineProcessingStatus", "quantity" ],
      "properties" : {
        "lineProcessingStatus" : {
          "type" : "string",
          "enum" : [ "invalidItem", "invalidLineQuantity", "invalidLineStatus" ]
        },
        "itemNumber" : {
          "type" : "number",
          "description" : "The Costco item number to be fulfilled"
        },
        "quantity" : {
          "type" : "number",
          "description" : "The quantity of units to be fulfilled"
        }
      },
      "example" : {
        "itemNumber" : 0.80082819046101150206595775671303272247314453125,
        "quantity" : 6.02745618307040320615897144307382404804229736328125,
        "lineProcessingStatus" : "invalidItem"
      }
    },
    "inline_response_200" : {
      "required" : [ "lineItems", "result" ],
      "properties" : {
        "result" : {
          "type" : "string",
          "default" : "ok",
          "enum" : [ "ok", "okWithException" ]
        },
        "lineItems" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/inline_response_200_lineItems"
          }
        }
      },
      "example" : {
        "result" : "ok",
        "lineItems" : [ {
          "itemNumber" : 0.80082819046101150206595775671303272247314453125,
          "quantity" : 6.02745618307040320615897144307382404804229736328125,
          "lineProcessingStatus" : "invalidItem"
        }, {
          "itemNumber" : 0.80082819046101150206595775671303272247314453125,
          "quantity" : 6.02745618307040320615897144307382404804229736328125,
          "lineProcessingStatus" : "invalidItem"
        } ]
      }
    },
    "GatewayError_context_statusMessage_descriptions" : {
      "properties" : {
        "value" : {
          "type" : "string"
        },
        "localeCode" : {
          "type" : "string"
        }
      }
    },
    "GatewayError_context_statusMessage" : {
      "properties" : {
        "statusCode" : {
          "type" : "string"
        },
        "errorCode" : {
          "type" : "string"
        },
        "descriptions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/GatewayError_context_statusMessage_descriptions"
          }
        }
      }
    },
    "GatewayError_context" : {
      "properties" : {
        "statusMessage" : {
          "$ref" : "#/definitions/GatewayError_context_statusMessage"
        },
        "messageName" : {
          "type" : "string"
        },
        "timestamp" : {
          "type" : "string"
        },
        "sendingApplication" : {
          "type" : "string"
        },
        "trackingId" : {
          "type" : "string"
        }
      }
    }
  }
}
