{
  "swagger" : "2.0",
  "info" : {
    "description" : "An API for fullfilling orders placed on non-Costco channels by Costco\n",
    "version" : "1.0.0",
    "title" : "Costco Fulfillment API",
    "termsOfService" : "",
    "contact" : { }
  },
  "host" : "api.costco.com",
  "basePath" : "/ebusiness",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "OAuth2" : [ ]
  } ],
  "paths" : {
    "/costing/shippingFees" : {
      "post" : {
        "tags" : [ "costing" ],
        "summary" : "Retrieve Shipping Fees",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "currency", "lineItems" ],
              "properties" : {
                "currency" : {
                  "type" : "string",
                  "example" : "USD",
                  "description" : "the currency code for which all monetary values will be assumed",
                  "default" : "USD",
                  "enum" : [ "USD" ]
                },
                "lineItems" : {
                  "type" : "array",
                  "description" : "The collection of Line items for which linked were requested",
                  "items" : {
                    "$ref" : "#/definitions/inline_response_200_lineItems"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingID" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order operator" ]
        } ]
      }
    },
    "/costing/linkedFees" : {
      "post" : {
        "tags" : [ "costing " ],
        "summary" : "Retrieve Linked Fees",
        "description" : "[Final]",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_1"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "currency", "lineItems" ],
              "properties" : {
                "currency" : {
                  "type" : "string",
                  "example" : "USD",
                  "description" : "the currency code for which all monetary values will be assumed",
                  "default" : "USD",
                  "enum" : [ "USD" ]
                },
                "lineItems" : {
                  "type" : "array",
                  "description" : "The collection of Line items for which linked were requested",
                  "items" : {
                    "$ref" : "#/definitions/inline_response_200_1_lineItems"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order operator" ]
        } ]
      }
    },
    "/{salesChannelId}/order" : {
      "post" : {
        "tags" : [ "order" ],
        "summary" : "Create an Order Async",
        "description" : "[Final] Creates an Order at Costco to be fulfilled",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/partnerOrder"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "received" ],
              "properties" : {
                "received" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "error" ],
              "properties" : {
                "error" : {
                  "$ref" : "#/definitions/Error"
                },
                "partnerOrder" : {
                  "$ref" : "#/definitions/partnerOrder"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order operator" ]
        } ]
      }
    },
    "/{salesChannelId}/order/{partnerOrderNumber}" : {
      "get" : {
        "tags" : [ "order" ],
        "summary" : "Retrieve Order Details",
        "description" : "[Final]  Returns Order Line Details",
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerOrderNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2", "QA5" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "properties" : {
                "partnerOrder" : {
                  "$ref" : "#/definitions/inline_response_200_3_partnerOrder"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "error" ],
              "properties" : {
                "error" : {
                  "$ref" : "#/definitions/Error"
                },
                "partnerOrder" : {
                  "$ref" : "#/definitions/partnerOrder"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order fulfiller" ]
        } ]
      },
      "delete" : {
        "tags" : [ "order" ],
        "summary" : "Cancel an Order",
        "description" : "[In Design] Attempts cancellation of an order being fullfilled at Costco",
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerOrderNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ReasonCode",
          "in" : "query",
          "description" : "The Costco Cancellation Reason Code\n\nCUS - Customer Request\nFRD - Fraud\nDUP - Duplicate Order\nCCD - CC Decline on Re-Auth\nERR - Error in processing Order\nANO - Authorization not obtained/card decline\nOTH - Other",
          "required" : true,
          "type" : "string",
          "enum" : [ "CUS", "FRD", "DUP", "CCD", "ERR", "ANO", "OTH" ]
        }, {
          "name" : "Reason",
          "in" : "query",
          "description" : "Customer Service Notes Associated with Cancellation. \nRequired for Reason Codes ERR and OTH",
          "required" : false,
          "type" : "string",
          "maxLength" : 500
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "string",
              "enum" : [ "OK" ]
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order fulfiller" ]
        } ]
      }
    },
    "/{salesChannelId}/order/{partnerOrderNumber}/return" : {
      "post" : {
        "tags" : [ "order", "return" ],
        "summary" : "Request Return Authorization",
        "description" : "[Final]",
        "consumes" : [ ],
        "produces" : [ "application/json", "application/octet-stream" ],
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerOrderNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_2"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/returnAuthorization"
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order operator" ]
        } ]
      }
    },
    "/{salesChannelId}/order/{partnerOrderNumber}/refund" : {
      "post" : {
        "tags" : [ "order", "return" ],
        "summary" : "Notification of Customer Refund",
        "description" : "[In Design] ",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerOrderNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2", "QA5" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_3"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order operator", "order fulfiller" ]
        } ]
      }
    },
    "/{salesChannelId}/order/{partnerOrderNumber}/fulfill" : {
      "post" : {
        "tags" : [ "order" ],
        "summary" : "Fulfill Order",
        "description" : "[Final]  ",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerOrderNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2", "QA5" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_5"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "requestStatus" ],
              "properties" : {
                "requestStatus" : {
                  "type" : "string",
                  "description" : "The status of the fulfillment request",
                  "enum" : [ "ok", "invalidOrderState", "invalidLines", "insufficientFunds", "invalidLocation", "ageVerificationRequired" ]
                },
                "barCode" : {
                  "type" : "string",
                  "description" : "The barcode to be used at POS to tender this order"
                },
                "partnerOrder" : {
                  "$ref" : "#/definitions/inline_response_200_5_partnerOrder"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order fulfiller" ]
        } ]
      },
      "put" : {
        "tags" : [ "order" ],
        "summary" : "Notification of Status Change",
        "description" : "[Final]",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerOrderNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2", "QA5" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_4"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "partnerOrder", "result" ],
              "properties" : {
                "result" : {
                  "type" : "string",
                  "default" : "OK",
                  "enum" : [ "ok", "okWithExceptions" ]
                },
                "partnerOrder" : {
                  "$ref" : "#/definitions/inline_response_200_4_partnerOrder"
                },
                "undeliveredItemsPartnerOrderNumber" : {
                  "type" : "string",
                  "description" : "The Order Number Representing an Order for Undelivered Items"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order fulfiller" ]
        } ]
      }
    },
    "/{salesChannelId}/order/{partnerOrderNumber}/adjustTip" : {
      "put" : {
        "tags" : [ "order" ],
        "summary" : "Request Tip Adjustment",
        "description" : "[Final]  ",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerOrderNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "status", "tipAdjustment" ],
              "properties" : {
                "status" : {
                  "type" : "string",
                  "description" : "The status of the fulfillment request",
                  "enum" : [ "invalidOrder", "ok", "unavailableFunds" ]
                },
                "tipAdjustment" : {
                  "type" : "number",
                  "description" : "The amount of the tip delta represented as a positive or negative number"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order fulfiller" ]
        } ]
      }
    },
    "/{salesChannelId}/return/{partnerReturnAuthorizationNumber}" : {
      "delete" : {
        "tags" : [ "return" ],
        "summary" : "Cancel Return Authorization",
        "parameters" : [ {
          "name" : "salesChannelId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerReturnAuthorizationNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.trackingId",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "status" ],
              "properties" : {
                "status" : {
                  "type" : "string",
                  "enum" : [ "OK" ]
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "OAuth2" : [ "order operator" ]
        } ]
      }
    },
    "/loyaltyPrograms/memberships/" : {
      "post" : {
        "tags" : [ "customers" ],
        "summary" : "Purchase Membership",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "costco.trackingID",
          "in" : "header",
          "description" : "Unique ID to Correlate HTTP requests between a client and server.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "costco.env",
          "in" : "header",
          "description" : "Non-Production Environment Identifier",
          "required" : false,
          "type" : "string",
          "enum" : [ "DIT5", "QA2" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body_7"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "costco.trackingID" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "type" : "object",
              "required" : [ "membershipOrder", "status" ],
              "properties" : {
                "status" : {
                  "type" : "string",
                  "enum" : [ "accepted", "invalidMembershipItem", "invalidCurrency", "invalidSubTotal", "invalidTaxTotal", "invalidShippingTotal", "invalidPartnerOrderNumber" ]
                },
                "members" : {
                  "$ref" : "#/definitions/inline_response_200_8_members"
                },
                "membershipOrder" : {
                  "$ref" : "#/definitions/inline_response_200_8_membershipOrder"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "headers" : {
              "costco.TrackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/gatewayError"
            }
          },
          "500" : {
            "description" : "Status 500",
            "headers" : {
              "costco.trackingId" : {
                "type" : "string",
                "description" : "Unique ID to Correlate HTTP requests between a client and server."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "OAuth2" : {
      "type" : "oauth2",
      "tokenUrl" : "https://costcofulfillment.azurewebsites.net/token",
      "flow" : "application",
      "scopes" : {
        "order operator" : "Can perform operations to capture orders and have them fulfilled by Costco",
        "order fulfiller" : "Can perform operations to fulfill orders captured by Costco"
      }
    }
  },
  "definitions" : {
    "membership" : {
      "type" : "object",
      "required" : [ "memberName", "memberNumber" ],
      "properties" : {
        "memberNumber" : {
          "type" : "string",
          "description" : "The Costco membership number of the purchaser"
        },
        "memberName" : {
          "type" : "string",
          "description" : "The full name of the Costco member"
        }
      },
      "description" : "A representation of a Costco Member"
    },
    "coupon" : {
      "type" : "object",
      "required" : [ "couponCode", "totalDiscountAmount" ],
      "properties" : {
        "couponCode" : {
          "type" : "string",
          "description" : "Costco Provided Coupon Code Identifier"
        },
        "totalDiscountAmount" : {
          "type" : "number",
          "description" : "Total discount amount of coupons applied to units of a line,  represented as a number"
        }
      },
      "description" : "Coupon codes issued against line items by Costco promotional efforts.",
      "example" : {
        "totalDiscountAmount" : 3.61607674925191080461672754609026014804840087890625,
        "couponCode" : "couponCode"
      }
    },
    "Error" : {
      "type" : "object",
      "required" : [ "code" ],
      "properties" : {
        "code" : {
          "type" : "integer",
          "description" : "The error code",
          "minimum" : 400,
          "maximum" : 599
        },
        "description" : {
          "type" : "string",
          "example" : "Bad query parameter [$size]: Invalid integer value [abc]",
          "description" : "A description of the error code. This description is meant to be used by the application developer to understand the issue, but shouldn't be displayed as-is to the end user."
        },
        "reasonPhrase" : {
          "type" : "string",
          "example" : "Bad Request",
          "description" : "A more contextual message describing what may have gone wrong."
        }
      },
      "description" : "This general error structure is used throughout this API."
    },
    "linkedFee" : {
      "type" : "object",
      "required" : [ "feeSKU", "feeUnitPrice", "quantity", "taxable" ],
      "properties" : {
        "feeSKU" : {
          "type" : "string",
          "example" : "2123343122",
          "description" : "Costco Provided Linked Fee Item Number"
        },
        "feeUnitPrice" : {
          "type" : "number",
          "example" : 0.4,
          "description" : "Unit Price of Fee Item, represented as a number"
        },
        "quantity" : {
          "type" : "integer",
          "example" : 2,
          "description" : "Quantity of Fee Items"
        },
        "taxable" : {
          "type" : "boolean",
          "example" : true,
          "description" : "True False value indicating if the fee is taxable"
        },
        "feeDescription" : {
          "type" : "array",
          "description" : "Costco Provided Linked Fee Descriptions by locale",
          "items" : {
            "$ref" : "#/definitions/linkedFee_feeDescription"
          }
        }
      },
      "description" : "Linked Fees represent \"outside\" taxes passed on to consumers for various government programs.",
      "example" : {
        "quantity" : 2,
        "feeDescription" : [ {
          "description" : "description",
          "locale" : "locale"
        }, {
          "description" : "description",
          "locale" : "locale"
        } ],
        "taxable" : true,
        "feeSKU" : "2123343122",
        "feeUnitPrice" : 0.4
      }
    },
    "costco.env" : {
      "type" : "string",
      "description" : "Non-Production Environment Identifier",
      "enum" : [ "DIT5", "QA2" ],
      "x-enum-string" : true
    },
    "orderSummary" : {
      "type" : "object",
      "required" : [ "currency", "placeOrderTime", "shippingTotal", "subTotal", "taxTotal" ],
      "properties" : {
        "partnerOrderNumber" : {
          "type" : "string",
          "description" : "The order number generated by non-Costco systems"
        },
        "placeOrderTime" : {
          "type" : "string",
          "description" : "the moment at which the order was generated in ISO 8601 format."
        },
        "currency" : {
          "type" : "string",
          "description" : "the currency code for which all monetary values will be assumed"
        },
        "subTotal" : {
          "type" : "number",
          "description" : "The total cost of the order minus shipping and taxes, represented as a number"
        },
        "taxTotal" : {
          "type" : "number",
          "description" : "The total cost of taxes on the order across items, shipping and linked fees, represented as a number"
        },
        "shippingTotal" : {
          "type" : "number",
          "description" : "The total cost of shipping on the order minus taxes on shipping, represented as a number"
        },
        "channel" : {
          "type" : "string",
          "description" : "The sales channel on which the order originated"
        }
      },
      "description" : "A Representation of an Order Header"
    },
    "partnerOrder" : {
      "type" : "object",
      "required" : [ "addresses", "lineItems", "orderSummary" ],
      "properties" : {
        "orderSummary" : {
          "$ref" : "#/definitions/orderSummary"
        },
        "membership" : {
          "$ref" : "#/definitions/membership"
        },
        "lineItems" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/lineItem"
          }
        },
        "addresses" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/address"
          }
        }
      }
    },
    "lineItem" : {
      "type" : "object",
      "required" : [ "deliveryDetail", "itemNumber", "quantity", "referenceNumber", "unitItemSellPrice", "unitItemTaxPrice", "unitShippingPrice", "unitShippingTaxPrice" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "string",
          "description" : "The unique id of the line item that is shipped"
        },
        "itemNumber" : {
          "type" : "string",
          "description" : "The Costco item number to be fulfilled"
        },
        "quantity" : {
          "type" : "number",
          "description" : "The quantity of units to be fulfilled"
        },
        "unitItemSellPrice" : {
          "type" : "number",
          "description" : "The sales price of unit, represented as a number"
        },
        "unitItemTaxPrice" : {
          "type" : "number",
          "description" : "The cost of tax for a unit, represented as a number"
        },
        "unitShippingPrice" : {
          "type" : "number",
          "description" : "The cost of shipping for a unit, represented as a number"
        },
        "unitShippingTaxPrice" : {
          "type" : "number",
          "description" : "The cost of tax on shipping of a unit, represented as a number"
        },
        "coupons" : {
          "type" : "array",
          "description" : "A collection of Costco coupons applied to a line",
          "items" : {
            "$ref" : "#/definitions/coupon"
          }
        },
        "linkedFees" : {
          "type" : "array",
          "description" : "A collection of linked fees associated with a line",
          "items" : {
            "$ref" : "#/definitions/lineItem_linkedFees"
          }
        },
        "deliveryDetail" : {
          "$ref" : "#/definitions/deliveryDetail"
        }
      },
      "description" : "A Representation of an Order Line",
      "example" : {
        "itemNumber" : "itemNumber",
        "deliveryDetail" : "{\n  \"shippingAddressReference\": \"fe6ce5e4-2c8b-11e8-b467-0ed5f89f718b\",\n  \"methodName\": \"ground\"\n}",
        "unitShippingTaxPrice" : 9.301444243932575517419536481611430644989013671875,
        "quantity" : 5.962133916683182377482808078639209270477294921875,
        "linkedFees" : [ {
          "quantity" : 4,
          "feeUnitTaxPrice" : "feeUnitTaxPrice",
          "feeSku" : "feeSku",
          "feeUnitPrice" : 2.027123023002321833274663731572218239307403564453125
        }, {
          "quantity" : 4,
          "feeUnitTaxPrice" : "feeUnitTaxPrice",
          "feeSku" : "feeSku",
          "feeUnitPrice" : 2.027123023002321833274663731572218239307403564453125
        } ],
        "referenceNumber" : "referenceNumber",
        "unitItemTaxPrice" : 2.3021358869347654518833223846741020679473876953125,
        "coupons" : [ {
          "totalDiscountAmount" : 3.61607674925191080461672754609026014804840087890625,
          "couponCode" : "couponCode"
        }, {
          "totalDiscountAmount" : 3.61607674925191080461672754609026014804840087890625,
          "couponCode" : "couponCode"
        } ],
        "unitItemSellPrice" : 5.63737665663332876420099637471139430999755859375,
        "unitShippingPrice" : 7.061401241503109105224211816675961017608642578125
      }
    },
    "returnAuthorization" : {
      "type" : "object",
      "required" : [ "executionStatus", "partnerAuthorizationNumber" ],
      "properties" : {
        "executionStatus" : {
          "type" : "string",
          "default" : "executed",
          "enum" : [ "executed", "rejected", "executedWithVariance" ]
        },
        "partnerAuthorizationNumber" : {
          "type" : "string",
          "description" : "The Partner Return Authorization Number"
        },
        "returnDispositions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/returnAuthorization_returnDispositions"
          }
        }
      },
      "example" : {
        "executionStatus" : "executed",
        "partnerAuthorizationNumber" : "partnerAuthorizationNumber",
        "returnDispositions" : [ {
          "dispositionType" : "CallTag",
          "carrier" : "carrier",
          "orderLines" : [ {
            "itemNumber" : "itemNumber",
            "quantity" : 0
          }, {
            "itemNumber" : "itemNumber",
            "quantity" : 0
          } ],
          "shippingLabel" : "shippingLabel",
          "trackingId" : "trackingId"
        }, {
          "dispositionType" : "CallTag",
          "carrier" : "carrier",
          "orderLines" : [ {
            "itemNumber" : "itemNumber",
            "quantity" : 0
          }, {
            "itemNumber" : "itemNumber",
            "quantity" : 0
          } ],
          "shippingLabel" : "shippingLabel",
          "trackingId" : "trackingId"
        } ]
      }
    },
    "returnLineItem" : {
      "type" : "object",
      "required" : [ "itemNumber", "quantity" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "string",
          "description" : "The unique id of the line item that is  being returned"
        },
        "itemNumber" : {
          "type" : "string",
          "description" : "The Costco item number to be returned"
        },
        "quantity" : {
          "type" : "number",
          "description" : "The quantity to be returned"
        },
        "returnReason" : {
          "type" : "string",
          "enum" : [ "notAsExpected", "damaged", "defective", "wrongItem", "emptyBox", "notDelivered", "shortShipped" ]
        },
        "reasonText" : {
          "type" : "string",
          "description" : "The explanation of the reason."
        },
        "refundAmount" : {
          "type" : "number",
          "description" : "The refund amount, represented as a number"
        }
      },
      "example" : "{\n\t\t\"referenceNumber\": \"9828772627\",\n\t\t\"itemNumber\": \"123456\",\n\t\t\"quantity\": 2,\n\t\t\"returnReason\": \"productArrivedDamaged\",\n\t\t\"reasonText\": \"UPS carrier damage\",\n        \"estimatedRefundAmount\": 10.99,\n        \"currency\": \"USD\"\n\t}"
    },
    "address" : {
      "type" : "object",
      "required" : [ "address1", "city", "postalCode", "referenceNumber", "state" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "number",
          "description" : "A unique entry ID"
        },
        "firstName" : {
          "type" : "string",
          "description" : "First name of the recipient."
        },
        "lastName" : {
          "type" : "string",
          "description" : "Last Name of the recipient."
        },
        "address1" : {
          "type" : "string",
          "description" : "The delivery address first line"
        },
        "address2" : {
          "type" : "string",
          "description" : "The delivery address second line"
        },
        "city" : {
          "type" : "string",
          "description" : "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs)."
        },
        "state" : {
          "type" : "string",
          "description" : "Top-level administrative subdivision of the country (e.g. \"CA\")"
        },
        "countryCode" : {
          "type" : "string",
          "example" : "US",
          "description" : "The CLDR territory code of the country to which an item will ship",
          "default" : "US"
        },
        "postalCode" : {
          "type" : "string",
          "description" : "Postal Code or ZIP (e.g. \"94043\")."
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "The phone number of the person receiving the delivery.",
          "pattern" : "ddd-ddd-dddd"
        }
      },
      "description" : "A representation of an address"
    },
    "deliveryDetail" : {
      "type" : "object",
      "required" : [ "methodName", "shippingAddressReference" ],
      "properties" : {
        "shippingAddressReference" : {
          "type" : "number",
          "description" : "A reference to a shipping address in a shippingAddress array"
        },
        "methodName" : {
          "type" : "string",
          "example" : "ground",
          "description" : "The name of the shipping method.",
          "enum" : [ "ground", "express" ]
        }
      },
      "description" : "A request for shipment to a shipment location",
      "example" : "{\n  \"shippingAddressReference\": \"fe6ce5e4-2c8b-11e8-b467-0ed5f89f718b\",\n  \"methodName\": \"ground\"\n}"
    },
    "destination" : {
      "type" : "object",
      "required" : [ "city", "postalCode", "state" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "number",
          "description" : "A unique entry ID"
        },
        "city" : {
          "type" : "string",
          "description" : "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs)."
        },
        "state" : {
          "type" : "string",
          "description" : "Top-level administrative subdivision of the country (e.g. \"CA\")"
        },
        "countryCode" : {
          "type" : "string",
          "example" : "US",
          "description" : "The CLDR territory code of the country to which an item will ship",
          "default" : "US"
        },
        "postalCode" : {
          "type" : "string",
          "description" : "Postal Code or ZIP (e.g. \"94043\")."
        }
      },
      "description" : "A representation of a delivery destination"
    },
    "gatewayError" : {
      "type" : "object",
      "properties" : {
        "context" : {
          "$ref" : "#/definitions/gatewayError_context"
        }
      },
      "example" : "{\r\n  \"context\": {\r\n    \"statusMessage\": {\r\n      \"statusCode\": \"APIGATEWAY.BACKEND.FAULT\",\r\n      \"errorCode\": \"500\",\r\n      \"descriptions\": [\r\n        {\r\n          \"value\": \"Received non success response code||code:500|description:PartnerOrderNumbar:Costco-60235124 does not exist|reasonPhrase:invalidOrder\",\r\n          \"localeCode\": \"en_US\"\r\n        }\r\n      ]\r\n    },\r\n    \"messageName\": \"TARGET_RESP_FLOW|null|null|null|messaging.adaptors.http.flow.ErrorResponseCode|0|0|1|true\",\r\n    \"timestamp\": \"2018-09-11T23:29:38.707Z\",\r\n    \"sendingApplication\": \"APIgee Edge Server\",\r\n    \"trackingId\": \"rrt-0c5196368620951ab-b-wo-16167-12049140-1\"\r\n  }\r\n}\r\n"
    },
    "costingshippingFees_lineItems" : {
      "required" : [ "itemNumber", "quantity", "referenceNumber", "requestedDeliveryDate" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "string",
          "description" : "The unique id of the order line for which shipping is being requested"
        },
        "itemNumber" : {
          "type" : "string",
          "example" : "100380581",
          "description" : "The item number to retrieve linked fees for"
        },
        "quantity" : {
          "type" : "integer",
          "description" : "The quantity to be fulfilled"
        },
        "requestedDeliveryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date upon which delivery is requested"
        }
      }
    },
    "costingshippingFees_deliveryDetails" : {
      "required" : [ "destination", "lineItems", "methodName" ],
      "properties" : {
        "destination" : {
          "$ref" : "#/definitions/destination"
        },
        "methodName" : {
          "type" : "string",
          "example" : "ground",
          "description" : "The name of the shipping method.",
          "enum" : [ "ground", "express" ]
        },
        "lineItems" : {
          "type" : "array",
          "description" : "Collection of Line items to retrieve linked fees for",
          "items" : {
            "$ref" : "#/definitions/costingshippingFees_lineItems"
          }
        }
      }
    },
    "body" : {
      "type" : "object",
      "required" : [ "currency", "deliveryDetails" ],
      "properties" : {
        "currency" : {
          "type" : "string",
          "example" : "USD",
          "description" : "the currency code for which all monetary values will be assumed",
          "default" : "USD",
          "enum" : [ "USD" ]
        },
        "deliveryDetails" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/costingshippingFees_deliveryDetails"
          }
        }
      }
    },
    "inline_response_200_lineItems" : {
      "required" : [ "deliveryCost", "referenceNumber" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "string",
          "description" : "The unique id of the  order line for which shipping was requested"
        },
        "deliveryCost" : {
          "type" : "number",
          "description" : "The Cost of delivery for the line, represented as a number"
        },
        "linkedDeliveryFees" : {
          "type" : "array",
          "description" : "Associated delivery linked fees that must be added to the line item collection of an order if returned.",
          "items" : {
            "$ref" : "#/definitions/linkedFee"
          }
        }
      },
      "example" : {
        "referenceNumber" : "referenceNumber",
        "linkedDeliveryFees" : [ {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        }, {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        } ],
        "deliveryCost" : 0.80082819046101150206595775671303272247314453125
      }
    },
    "inline_response_200" : {
      "required" : [ "currency", "lineItems" ],
      "properties" : {
        "currency" : {
          "type" : "string",
          "example" : "USD",
          "description" : "the currency code for which all monetary values will be assumed",
          "default" : "USD",
          "enum" : [ "USD" ]
        },
        "lineItems" : {
          "type" : "array",
          "description" : "The collection of Line items for which linked were requested",
          "items" : {
            "$ref" : "#/definitions/inline_response_200_lineItems"
          }
        }
      },
      "example" : {
        "lineItems" : [ {
          "referenceNumber" : "referenceNumber",
          "linkedDeliveryFees" : [ {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          }, {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          } ],
          "deliveryCost" : 0.80082819046101150206595775671303272247314453125
        }, {
          "referenceNumber" : "referenceNumber",
          "linkedDeliveryFees" : [ {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          }, {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          } ],
          "deliveryCost" : 0.80082819046101150206595775671303272247314453125
        } ],
        "currency" : "USD"
      }
    },
    "costinglinkedFees_lineItems" : {
      "required" : [ "itemNumber", "quantity", "referenceNumber" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "string",
          "description" : "line Item Reference Number"
        },
        "itemNumber" : {
          "type" : "string",
          "example" : "100380581",
          "description" : "The item number to retrieve linked fees for"
        },
        "quantity" : {
          "type" : "integer",
          "description" : "The quantity to be fulfilled"
        }
      }
    },
    "body_1" : {
      "type" : "object",
      "required" : [ "destination", "lineItems" ],
      "properties" : {
        "currency" : {
          "type" : "string",
          "example" : "USD",
          "description" : "the currency code for which all monetary values will be assumed",
          "default" : "USD",
          "enum" : [ "USD" ]
        },
        "destination" : {
          "$ref" : "#/definitions/destination"
        },
        "lineItems" : {
          "type" : "array",
          "description" : "Collection of Line items to retrieve linked fees for",
          "items" : {
            "$ref" : "#/definitions/costinglinkedFees_lineItems"
          }
        }
      }
    },
    "inline_response_200_1_lineItems" : {
      "required" : [ "itemNumber", "referenceNumber" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "string"
        },
        "itemNumber" : {
          "type" : "string",
          "description" : "the item number for which linked fees were requested"
        },
        "linkedFees" : {
          "type" : "array",
          "description" : "The collection of linked fees applicable to the item",
          "items" : {
            "$ref" : "#/definitions/linkedFee"
          }
        }
      },
      "example" : {
        "itemNumber" : "itemNumber",
        "linkedFees" : [ {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        }, {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        } ],
        "referenceNumber" : "referenceNumber"
      }
    },
    "inline_response_200_1" : {
      "required" : [ "currency", "lineItems" ],
      "properties" : {
        "currency" : {
          "type" : "string",
          "example" : "USD",
          "description" : "the currency code for which all monetary values will be assumed",
          "default" : "USD",
          "enum" : [ "USD" ]
        },
        "lineItems" : {
          "type" : "array",
          "description" : "The collection of Line items for which linked were requested",
          "items" : {
            "$ref" : "#/definitions/inline_response_200_1_lineItems"
          }
        }
      },
      "example" : {
        "lineItems" : [ {
          "itemNumber" : "itemNumber",
          "linkedFees" : [ {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          }, {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          } ],
          "referenceNumber" : "referenceNumber"
        }, {
          "itemNumber" : "itemNumber",
          "linkedFees" : [ {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          }, {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          } ],
          "referenceNumber" : "referenceNumber"
        } ],
        "currency" : "USD"
      }
    },
    "inline_response_200_2" : {
      "required" : [ "received" ],
      "properties" : {
        "received" : {
          "type" : "boolean"
        }
      },
      "example" : {
        "received" : true
      }
    },
    "inline_response_500" : {
      "required" : [ "error" ],
      "properties" : {
        "error" : {
          "$ref" : "#/definitions/Error"
        },
        "partnerOrder" : {
          "$ref" : "#/definitions/partnerOrder"
        }
      }
    },
    "inline_response_200_3_partnerOrder_orderSummary" : {
      "required" : [ "currency", "partnerOrderNumber", "placeOrderTime", "subtotal", "taxTotal" ],
      "properties" : {
        "partnerOrderNumber" : {
          "type" : "string",
          "description" : "The order number generated for non-Costco systems"
        },
        "placeOrderTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "the moment at which the order was generated in ISO 8601 format."
        },
        "currency" : {
          "type" : "string",
          "description" : "the currency code for which all monetary values will be assumed"
        },
        "subtotal" : {
          "type" : "number",
          "description" : "The total cost of the order minus shipping, tips and taxes, represented as a number"
        },
        "taxTotal" : {
          "type" : "number",
          "description" : "The total cost of taxes on the order, represented as a number"
        },
        "shippingTotal" : {
          "type" : "number",
          "description" : "The total cost of shipping on the order, represented as a number"
        },
        "tipTotal" : {
          "type" : "number",
          "description" : "the total cost of a tip on the order, represented as a number"
        }
      },
      "description" : "A Representation of an Order Header",
      "example" : {
        "placeOrderTime" : "2000-01-23T04:56:07.000+00:00",
        "shippingTotal" : 1.46581298050294517310021547018550336360931396484375,
        "tipTotal" : 5.962133916683182377482808078639209270477294921875,
        "subtotal" : 0.80082819046101150206595775671303272247314453125,
        "partnerOrderNumber" : "partnerOrderNumber",
        "taxTotal" : 6.02745618307040320615897144307382404804229736328125,
        "currency" : "currency"
      }
    },
    "inline_response_200_3_partnerOrder_lineItemStatuses" : {
      "required" : [ "status" ],
      "properties" : {
        "status" : {
          "type" : "string",
          "description" : "the current status of affected units",
          "enum" : [ "delivered", "undelivered", "cancelled" ]
        },
        "quantity" : {
          "type" : "number",
          "description" : "the unit quantity affected by the status"
        }
      },
      "example" : {
        "quantity" : 7.3862819483858839220147274318151175975799560546875,
        "status" : "delivered"
      }
    },
    "inline_response_200_3_partnerOrder_lineItems" : {
      "required" : [ "itemNumber", "lineItemStatuses", "quantity", "referenceNumber", "unitItemTaxPrice", "unitSellPrice" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "number",
          "description" : "The unique id of the line item that is shipped"
        },
        "itemNumber" : {
          "type" : "string",
          "description" : "The Costco item number to be fulfilled"
        },
        "quantity" : {
          "type" : "integer",
          "description" : "The quantity of units to be fulfilled"
        },
        "unitSellPrice" : {
          "type" : "number",
          "description" : "The sales price of unit, represented as a number"
        },
        "unitPriceMarkupAmount" : {
          "type" : "number",
          "description" : "The portion of a unit sell price dedicated to program markup"
        },
        "unitItemTaxPrice" : {
          "type" : "number",
          "description" : "The cost of tax for a unit, represented as a number. (Base Tax Rate + Fees)"
        },
        "unitShippingPrice" : {
          "type" : "number",
          "description" : "The cost of shipping for a unit, represented as a number"
        },
        "unitShippingTaxPrice" : {
          "type" : "number",
          "description" : "The cost of tax on shipping of a unit, represented as a number"
        },
        "fees" : {
          "type" : "array",
          "description" : "A collection of fees associated with a line",
          "items" : {
            "$ref" : "#/definitions/linkedFee"
          }
        },
        "lineItemStatuses" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/inline_response_200_3_partnerOrder_lineItemStatuses"
          }
        }
      },
      "example" : {
        "itemNumber" : "itemNumber",
        "unitShippingTaxPrice" : 4.1456080298839363962315474054776132106781005859375,
        "fees" : [ {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        }, {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        } ],
        "quantity" : 2,
        "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
        "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
        "unitItemTaxPrice" : 3.61607674925191080461672754609026014804840087890625,
        "lineItemStatuses" : [ {
          "quantity" : 7.3862819483858839220147274318151175975799560546875,
          "status" : "delivered"
        }, {
          "quantity" : 7.3862819483858839220147274318151175975799560546875,
          "status" : "delivered"
        } ],
        "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
        "unitShippingPrice" : 2.027123023002321833274663731572218239307403564453125
      }
    },
    "inline_response_200_3_partnerOrder" : {
      "required" : [ "orderSummary" ],
      "properties" : {
        "orderStatus" : {
          "type" : "string",
          "description" : "Costco Order Status after results of request",
          "enum" : [ "new", "inprocess", "complete", "cancelled" ]
        },
        "orderSummary" : {
          "$ref" : "#/definitions/inline_response_200_3_partnerOrder_orderSummary"
        },
        "lineItems" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/inline_response_200_3_partnerOrder_lineItems"
          }
        }
      },
      "example" : {
        "lineItems" : [ {
          "itemNumber" : "itemNumber",
          "unitShippingTaxPrice" : 4.1456080298839363962315474054776132106781005859375,
          "fees" : [ {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          }, {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          } ],
          "quantity" : 2,
          "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
          "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
          "unitItemTaxPrice" : 3.61607674925191080461672754609026014804840087890625,
          "lineItemStatuses" : [ {
            "quantity" : 7.3862819483858839220147274318151175975799560546875,
            "status" : "delivered"
          }, {
            "quantity" : 7.3862819483858839220147274318151175975799560546875,
            "status" : "delivered"
          } ],
          "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
          "unitShippingPrice" : 2.027123023002321833274663731572218239307403564453125
        }, {
          "itemNumber" : "itemNumber",
          "unitShippingTaxPrice" : 4.1456080298839363962315474054776132106781005859375,
          "fees" : [ {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          }, {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          } ],
          "quantity" : 2,
          "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
          "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
          "unitItemTaxPrice" : 3.61607674925191080461672754609026014804840087890625,
          "lineItemStatuses" : [ {
            "quantity" : 7.3862819483858839220147274318151175975799560546875,
            "status" : "delivered"
          }, {
            "quantity" : 7.3862819483858839220147274318151175975799560546875,
            "status" : "delivered"
          } ],
          "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
          "unitShippingPrice" : 2.027123023002321833274663731572218239307403564453125
        } ],
        "orderStatus" : "new",
        "orderSummary" : {
          "placeOrderTime" : "2000-01-23T04:56:07.000+00:00",
          "shippingTotal" : 1.46581298050294517310021547018550336360931396484375,
          "tipTotal" : 5.962133916683182377482808078639209270477294921875,
          "subtotal" : 0.80082819046101150206595775671303272247314453125,
          "partnerOrderNumber" : "partnerOrderNumber",
          "taxTotal" : 6.02745618307040320615897144307382404804229736328125,
          "currency" : "currency"
        }
      }
    },
    "inline_response_200_3" : {
      "properties" : {
        "partnerOrder" : {
          "$ref" : "#/definitions/inline_response_200_3_partnerOrder"
        }
      },
      "example" : {
        "partnerOrder" : {
          "lineItems" : [ {
            "itemNumber" : "itemNumber",
            "unitShippingTaxPrice" : 4.1456080298839363962315474054776132106781005859375,
            "fees" : [ {
              "quantity" : 2,
              "feeDescription" : [ {
                "description" : "description",
                "locale" : "locale"
              }, {
                "description" : "description",
                "locale" : "locale"
              } ],
              "taxable" : true,
              "feeSKU" : "2123343122",
              "feeUnitPrice" : 0.4
            }, {
              "quantity" : 2,
              "feeDescription" : [ {
                "description" : "description",
                "locale" : "locale"
              }, {
                "description" : "description",
                "locale" : "locale"
              } ],
              "taxable" : true,
              "feeSKU" : "2123343122",
              "feeUnitPrice" : 0.4
            } ],
            "quantity" : 2,
            "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
            "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
            "unitItemTaxPrice" : 3.61607674925191080461672754609026014804840087890625,
            "lineItemStatuses" : [ {
              "quantity" : 7.3862819483858839220147274318151175975799560546875,
              "status" : "delivered"
            }, {
              "quantity" : 7.3862819483858839220147274318151175975799560546875,
              "status" : "delivered"
            } ],
            "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
            "unitShippingPrice" : 2.027123023002321833274663731572218239307403564453125
          }, {
            "itemNumber" : "itemNumber",
            "unitShippingTaxPrice" : 4.1456080298839363962315474054776132106781005859375,
            "fees" : [ {
              "quantity" : 2,
              "feeDescription" : [ {
                "description" : "description",
                "locale" : "locale"
              }, {
                "description" : "description",
                "locale" : "locale"
              } ],
              "taxable" : true,
              "feeSKU" : "2123343122",
              "feeUnitPrice" : 0.4
            }, {
              "quantity" : 2,
              "feeDescription" : [ {
                "description" : "description",
                "locale" : "locale"
              }, {
                "description" : "description",
                "locale" : "locale"
              } ],
              "taxable" : true,
              "feeSKU" : "2123343122",
              "feeUnitPrice" : 0.4
            } ],
            "quantity" : 2,
            "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
            "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
            "unitItemTaxPrice" : 3.61607674925191080461672754609026014804840087890625,
            "lineItemStatuses" : [ {
              "quantity" : 7.3862819483858839220147274318151175975799560546875,
              "status" : "delivered"
            }, {
              "quantity" : 7.3862819483858839220147274318151175975799560546875,
              "status" : "delivered"
            } ],
            "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
            "unitShippingPrice" : 2.027123023002321833274663731572218239307403564453125
          } ],
          "orderStatus" : "new",
          "orderSummary" : {
            "placeOrderTime" : "2000-01-23T04:56:07.000+00:00",
            "shippingTotal" : 1.46581298050294517310021547018550336360931396484375,
            "tipTotal" : 5.962133916683182377482808078639209270477294921875,
            "subtotal" : 0.80082819046101150206595775671303272247314453125,
            "partnerOrderNumber" : "partnerOrderNumber",
            "taxTotal" : 6.02745618307040320615897144307382404804229736328125,
            "currency" : "currency"
          }
        }
      }
    },
    "body_2" : {
      "type" : "object",
      "required" : [ "channel", "lineItems", "partnerReturnAuthorizationNumber" ],
      "properties" : {
        "partnerReturnAuthorizationNumber" : {
          "type" : "string",
          "description" : "The Partner Generated Return Authorization Number. Sending a new unique value will result in a new Return Authorization being fulfilled. Sending a value that the service has seen before will result in the retrieval of an existing Return Authorization."
        },
        "channel" : {
          "type" : "string",
          "description" : "The customer service channel on which the return originated"
        },
        "lineItems" : {
          "type" : "array",
          "description" : "The Return LineItems",
          "items" : {
            "$ref" : "#/definitions/returnLineItem"
          }
        }
      }
    },
    "body_3" : {
      "type" : "object",
      "properties" : {
        "currency" : {
          "type" : "string",
          "default" : "USD",
          "enum" : [ "USD" ]
        },
        "lineItems" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/returnLineItem"
          }
        },
        "otherRefundAmount" : {
          "type" : "string",
          "description" : "Additional refund amount, represented as a number"
        },
        "otherRefundReason" : {
          "type" : "string"
        }
      }
    },
    "salesChannelIdorderpartnerOrderNumberfulfill_deliveryStatus" : {
      "required" : [ "quantity", "status" ],
      "properties" : {
        "quantity" : {
          "type" : "integer",
          "description" : "The quantity that was fulfilled"
        },
        "status" : {
          "type" : "string",
          "enum" : [ "inTransit", "delivered", "refusedDelivery", "damagedOrLost" ]
        }
      }
    },
    "salesChannelIdorderpartnerOrderNumberfulfill_lineItems" : {
      "required" : [ "deliveryStatus", "itemNumber", "referenceNumber", "scannedBarCodes" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "number",
          "description" : "The unique id of the line item from the original order"
        },
        "itemNumber" : {
          "type" : "string",
          "description" : "The Costco item number that was fulfilled"
        },
        "scannedBarCodes" : {
          "type" : "array",
          "description" : "scanned Product Barcodes for Picked items",
          "items" : {
            "type" : "string"
          }
        },
        "deliveryStatus" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/salesChannelIdorderpartnerOrderNumberfulfill_deliveryStatus"
          }
        }
      }
    },
    "body_4" : {
      "type" : "object",
      "required" : [ "action", "fulfillmentLocation", "lineItems" ],
      "properties" : {
        "action" : {
          "type" : "string",
          "enum" : [ "paidAtWarehouse", "orderDelivered" ]
        },
        "fulfillmentLocation" : {
          "type" : "string",
          "description" : "The Costco location number where the order is being fulfilled from"
        },
        "lineItems" : {
          "type" : "array",
          "description" : "The collection of actioned line items",
          "items" : {
            "$ref" : "#/definitions/salesChannelIdorderpartnerOrderNumberfulfill_lineItems"
          }
        }
      }
    },
    "inline_response_200_4_partnerOrder_orderSummary" : {
      "required" : [ "partnerOrderNumber", "placeOrderTime", "subtotal", "taxTotal" ],
      "properties" : {
        "partnerOrderNumber" : {
          "type" : "string",
          "description" : "The order number generated for non-Costco systems"
        },
        "placeOrderTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "the moment at which the order was generated in ISO 8601 format."
        },
        "currency" : {
          "type" : "string",
          "description" : "the currency code for which all monetary values will be assumed",
          "default" : "USD",
          "enum" : [ "USD" ]
        },
        "subtotal" : {
          "type" : "number",
          "description" : "The total cost of the order minus shipping, tips and taxes, represented as a number"
        },
        "taxTotal" : {
          "type" : "number",
          "description" : "The total cost of taxes on the order, represented as a number"
        },
        "shippingTotal" : {
          "type" : "number",
          "description" : "The total cost of shipping on the order, represented as a number"
        },
        "tipTotal" : {
          "type" : "number",
          "description" : "the total cost of a tip on the order, represented as a number"
        }
      },
      "description" : "A Representation of an Order Header",
      "example" : {
        "placeOrderTime" : "2000-01-23T04:56:07.000+00:00",
        "shippingTotal" : 1.46581298050294517310021547018550336360931396484375,
        "tipTotal" : 5.962133916683182377482808078639209270477294921875,
        "subtotal" : 0.80082819046101150206595775671303272247314453125,
        "partnerOrderNumber" : "partnerOrderNumber",
        "taxTotal" : 6.02745618307040320615897144307382404804229736328125,
        "currency" : "USD"
      }
    },
    "inline_response_200_4_partnerOrder_lineItems" : {
      "required" : [ "itemNumber", "lineProcessingStatus", "quantity", "referenceNumber", "unitSellPrice" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "number",
          "description" : "The unique id of the line item that is shipped"
        },
        "lineProcessingStatus" : {
          "type" : "string",
          "enum" : [ "invalidBarCodeScanned", "invalidActionRequested", "invalidItem", "invalidLine", "invalidLineQuantity", "invalidPick", "lineCancelled", "lineUpdated", "lineOKButUnprocessed", "lineMovedToUndeliveredOrder" ]
        },
        "itemNumber" : {
          "type" : "string",
          "description" : "The Costco item number to be fulfilled"
        },
        "quantity" : {
          "type" : "integer",
          "description" : "The quantity of units to be fulfilled"
        },
        "unitSellPrice" : {
          "type" : "number",
          "description" : "The sales price of unit, represented as a number"
        },
        "unitPriceMarkupAmount" : {
          "type" : "number",
          "description" : "The portion of a unit sell price dedicated to program markup"
        },
        "unitShippingPrice" : {
          "type" : "number",
          "description" : "The cost of shipping for a unit, represented as a number"
        },
        "unitShippingTaxPrice" : {
          "type" : "number",
          "description" : "The cost of tax on shipping of a unit, represented as a number"
        },
        "fees" : {
          "$ref" : "#/definitions/linkedFee"
        }
      },
      "example" : {
        "itemNumber" : "itemNumber",
        "unitShippingTaxPrice" : 2.027123023002321833274663731572218239307403564453125,
        "fees" : {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        },
        "quantity" : 2,
        "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
        "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
        "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
        "unitShippingPrice" : 3.61607674925191080461672754609026014804840087890625,
        "lineProcessingStatus" : "invalidBarCodeScanned"
      }
    },
    "inline_response_200_4_partnerOrder" : {
      "required" : [ "lineItems", "orderSummary" ],
      "properties" : {
        "orderSummary" : {
          "$ref" : "#/definitions/inline_response_200_4_partnerOrder_orderSummary"
        },
        "lineItems" : {
          "$ref" : "#/definitions/inline_response_200_4_partnerOrder_lineItems"
        }
      },
      "example" : {
        "lineItems" : {
          "itemNumber" : "itemNumber",
          "unitShippingTaxPrice" : 2.027123023002321833274663731572218239307403564453125,
          "fees" : {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          },
          "quantity" : 2,
          "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
          "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
          "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
          "unitShippingPrice" : 3.61607674925191080461672754609026014804840087890625,
          "lineProcessingStatus" : "invalidBarCodeScanned"
        },
        "orderSummary" : {
          "placeOrderTime" : "2000-01-23T04:56:07.000+00:00",
          "shippingTotal" : 1.46581298050294517310021547018550336360931396484375,
          "tipTotal" : 5.962133916683182377482808078639209270477294921875,
          "subtotal" : 0.80082819046101150206595775671303272247314453125,
          "partnerOrderNumber" : "partnerOrderNumber",
          "taxTotal" : 6.02745618307040320615897144307382404804229736328125,
          "currency" : "USD"
        }
      }
    },
    "inline_response_200_4" : {
      "required" : [ "partnerOrder", "result" ],
      "properties" : {
        "result" : {
          "type" : "string",
          "default" : "OK",
          "enum" : [ "ok", "okWithExceptions" ]
        },
        "partnerOrder" : {
          "$ref" : "#/definitions/inline_response_200_4_partnerOrder"
        },
        "undeliveredItemsPartnerOrderNumber" : {
          "type" : "string",
          "description" : "The Order Number Representing an Order for Undelivered Items"
        }
      },
      "example" : {
        "result" : "OK",
        "partnerOrder" : {
          "lineItems" : {
            "itemNumber" : "itemNumber",
            "unitShippingTaxPrice" : 2.027123023002321833274663731572218239307403564453125,
            "fees" : {
              "quantity" : 2,
              "feeDescription" : [ {
                "description" : "description",
                "locale" : "locale"
              }, {
                "description" : "description",
                "locale" : "locale"
              } ],
              "taxable" : true,
              "feeSKU" : "2123343122",
              "feeUnitPrice" : 0.4
            },
            "quantity" : 2,
            "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
            "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
            "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
            "unitShippingPrice" : 3.61607674925191080461672754609026014804840087890625,
            "lineProcessingStatus" : "invalidBarCodeScanned"
          },
          "orderSummary" : {
            "placeOrderTime" : "2000-01-23T04:56:07.000+00:00",
            "shippingTotal" : 1.46581298050294517310021547018550336360931396484375,
            "tipTotal" : 5.962133916683182377482808078639209270477294921875,
            "subtotal" : 0.80082819046101150206595775671303272247314453125,
            "partnerOrderNumber" : "partnerOrderNumber",
            "taxTotal" : 6.02745618307040320615897144307382404804229736328125,
            "currency" : "USD"
          }
        },
        "undeliveredItemsPartnerOrderNumber" : "undeliveredItemsPartnerOrderNumber"
      }
    },
    "salesChannelIdorderpartnerOrderNumberfulfill_lineItems_1" : {
      "required" : [ "itemNumber", "quantity", "referenceNumber", "scannedBarCodes" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "number",
          "description" : "The unique id of the line item from the original order"
        },
        "itemNumber" : {
          "type" : "string",
          "description" : "The Costco item number that was fulfilled"
        },
        "quantity" : {
          "type" : "integer",
          "description" : "The quantity that was fulfilled"
        },
        "scannedBarCodes" : {
          "type" : "array",
          "description" : "scanned Product Barcodes for Picked items",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "body_5" : {
      "type" : "object",
      "required" : [ "fulfillmentLocation", "lineItems" ],
      "properties" : {
        "fulfillmentLocation" : {
          "type" : "string",
          "description" : "The Costco location number where the order is being fulfilled from"
        },
        "lineItems" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/salesChannelIdorderpartnerOrderNumberfulfill_lineItems_1"
          }
        }
      }
    },
    "inline_response_200_5_partnerOrder_orderSummary" : {
      "required" : [ "partnerOrderNumber", "placeOrderTime", "subtotal", "taxTotal" ],
      "properties" : {
        "partnerOrderNumber" : {
          "type" : "string",
          "description" : "The order number generated for non-Costco systems"
        },
        "placeOrderTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "the moment at which the order was generated in ISO 8601 format."
        },
        "currency" : {
          "type" : "string",
          "description" : "the currency code for which all monetary values will be assumed",
          "enum" : [ "USD" ]
        },
        "subtotal" : {
          "type" : "number",
          "description" : "The total cost of the order minus shipping, tips and taxes, represented as a number"
        },
        "taxTotal" : {
          "type" : "number",
          "description" : "The total cost of taxes on the order, represented as a number"
        },
        "shippingTotal" : {
          "type" : "number",
          "description" : "The total cost of shipping on the order, represented as a number"
        },
        "tipTotal" : {
          "type" : "number",
          "description" : "the total cost of a tip on the order, represented as a number"
        }
      },
      "description" : "A Representation of an Order Header",
      "example" : {
        "placeOrderTime" : "2000-01-23T04:56:07.000+00:00",
        "shippingTotal" : 1.46581298050294517310021547018550336360931396484375,
        "tipTotal" : 5.962133916683182377482808078639209270477294921875,
        "subtotal" : 0.80082819046101150206595775671303272247314453125,
        "partnerOrderNumber" : "partnerOrderNumber",
        "taxTotal" : 6.02745618307040320615897144307382404804229736328125,
        "currency" : "USD"
      }
    },
    "inline_response_200_5_partnerOrder_lineItems" : {
      "required" : [ "itemNumber", "lineProcessingStatus", "quantity", "referenceNumber", "unitItemTaxPrice", "unitSellPrice" ],
      "properties" : {
        "referenceNumber" : {
          "type" : "number",
          "description" : "The unique id of the line item that is shipped"
        },
        "lineProcessingStatus" : {
          "type" : "string",
          "enum" : [ "invalidBarCodeScanned", "invalidActionRequested", "invalidItem", "invalidLine", "invalidPick", "lineCancelled", "lineUpdated", "lineOKButUnprocessed", "lineNotProcessed" ]
        },
        "itemNumber" : {
          "type" : "string",
          "description" : "The Costco item number to be fulfilled"
        },
        "quantity" : {
          "type" : "integer",
          "description" : "The quantity of units to be fulfilled"
        },
        "unitSellPrice" : {
          "type" : "number",
          "description" : "The sales price of unit, represented as a number"
        },
        "unitPriceMarkupAmount" : {
          "type" : "number",
          "description" : "The portion of a unit sell price dedicated to program markup"
        },
        "unitItemTaxPrice" : {
          "type" : "number",
          "description" : "The cost of tax for a unit, represented as a number. (Base Tax Rate + Fees)"
        },
        "unitShippingPrice" : {
          "type" : "number",
          "description" : "The cost of shipping for a unit, represented as a number"
        },
        "unitShippingTaxPrice" : {
          "type" : "number",
          "description" : "The cost of tax on shipping of a unit, represented as a number"
        },
        "fees" : {
          "type" : "array",
          "description" : "A collection of fees associated with a line",
          "items" : {
            "$ref" : "#/definitions/linkedFee"
          }
        }
      },
      "example" : {
        "itemNumber" : "itemNumber",
        "unitShippingTaxPrice" : 4.1456080298839363962315474054776132106781005859375,
        "fees" : [ {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        }, {
          "quantity" : 2,
          "feeDescription" : [ {
            "description" : "description",
            "locale" : "locale"
          }, {
            "description" : "description",
            "locale" : "locale"
          } ],
          "taxable" : true,
          "feeSKU" : "2123343122",
          "feeUnitPrice" : 0.4
        } ],
        "quantity" : 2,
        "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
        "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
        "unitItemTaxPrice" : 3.61607674925191080461672754609026014804840087890625,
        "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
        "unitShippingPrice" : 2.027123023002321833274663731572218239307403564453125,
        "lineProcessingStatus" : "invalidBarCodeScanned"
      }
    },
    "inline_response_200_5_partnerOrder" : {
      "required" : [ "orderStatus", "orderSummary" ],
      "properties" : {
        "orderStatus" : {
          "type" : "string",
          "description" : "Costco Order Status after results of request",
          "enum" : [ "new", "inprocess", "complete", "cancelled" ]
        },
        "orderSummary" : {
          "$ref" : "#/definitions/inline_response_200_5_partnerOrder_orderSummary"
        },
        "lineItems" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/inline_response_200_5_partnerOrder_lineItems"
          }
        }
      },
      "example" : {
        "lineItems" : [ {
          "itemNumber" : "itemNumber",
          "unitShippingTaxPrice" : 4.1456080298839363962315474054776132106781005859375,
          "fees" : [ {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          }, {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          } ],
          "quantity" : 2,
          "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
          "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
          "unitItemTaxPrice" : 3.61607674925191080461672754609026014804840087890625,
          "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
          "unitShippingPrice" : 2.027123023002321833274663731572218239307403564453125,
          "lineProcessingStatus" : "invalidBarCodeScanned"
        }, {
          "itemNumber" : "itemNumber",
          "unitShippingTaxPrice" : 4.1456080298839363962315474054776132106781005859375,
          "fees" : [ {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          }, {
            "quantity" : 2,
            "feeDescription" : [ {
              "description" : "description",
              "locale" : "locale"
            }, {
              "description" : "description",
              "locale" : "locale"
            } ],
            "taxable" : true,
            "feeSKU" : "2123343122",
            "feeUnitPrice" : 0.4
          } ],
          "quantity" : 2,
          "unitPriceMarkupAmount" : 9.301444243932575517419536481611430644989013671875,
          "referenceNumber" : 5.63737665663332876420099637471139430999755859375,
          "unitItemTaxPrice" : 3.61607674925191080461672754609026014804840087890625,
          "unitSellPrice" : 7.061401241503109105224211816675961017608642578125,
          "unitShippingPrice" : 2.027123023002321833274663731572218239307403564453125,
          "lineProcessingStatus" : "invalidBarCodeScanned"
        } ],
        "orderStatus" : "new",
        "orderSummary" : {
          "placeOrderTime" : "2000-01-23T04:56:07.000+00:00",
          "shippingTotal" : 1.46581298050294517310021547018550336360931396484375,
          "tipTotal" : 5.962133916683182377482808078639209270477294921875,
          "subtotal" : 0.80082819046101150206595775671303272247314453125,
          "partnerOrderNumber" : "partnerOrderNumber",
          "taxTotal" : 6.02745618307040320615897144307382404804229736328125,
          "currency" : "USD"
        }
      }
    },
    "inline_response_200_5" : {
      "required" : [ "requestStatus" ],
      "properties" : {
        "requestStatus" : {
          "type" : "string",
          "description" : "The status of the fulfillment request",
          "enum" : [ "ok", "invalidOrderState", "invalidLines", "insufficientFunds", "invalidLocation", "ageVerificationRequired" ]
        },
        "barCode" : {
          "type" : "string",
          "description" : "The barcode to be used at POS to tender this order"
        },
        "partnerOrder" : {
          "$ref" : "#/definitions/inline_response_200_5_partnerOrder"
        }
      },
      "example" : {
        "partnerOrder" : {
          "lineItems" : [ {
[...]
